{{- define "main" -}}

<div class="sitemapDiv">
  <h1>Sitemap</h1>
  <h2>Main pages</h2>
  <ul>
    <li><a href="{{ site.BaseURL }}">Home</a></li>
    <li><a href="{{ site.BaseURL }}team/">Team</li>
  </ul>
  <ul>
  {{- range where site.RegularPages "Type" "articles" -}}
    <li><strong><a href="{{ .Permalink }}">{{ .Title | .Page.RenderString }}</a></strong><br />
    <span class="description">{{ .Description | .Page.RenderString }}</span></li>
  {{- end -}}
  </ul>
</div>

{{- end -}}