@media (min-width: 1280px) {
    .xl\:text-9xl {
      font-size: 8rem;
      line-height: 1;
    }
  }
  
  /* assets */ 
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
  
  font-family: ui-sans-serif,
  system-ui,
  -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  Roboto,
  "Helvetica Neue",
  Arial,
  "Noto Sans",
  sans-serif,
  Apple Color Emoji,
  Segoe UI Emoji,
  NotoColorEmoji,
  Segoe UI Symbol,
  Android Emoji,
  EmojiSymbols;
  .prose :where(h1):not(:where([class~="not-prose"] *)) {
      color: white !important;
  }
  
 /* menu navigation bar style */
 .nav-link {
  position: relative;
   transition: color 0.3s ease;
}

.nav-link:hover {
  color: #FD8228;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #FD8228;
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

.hero-section {
  position: relative;
  padding: 120px 40px;
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #090501;
  text-align: center;
}

.hero-container {
  max-width: 900px;
  margin: 0 auto;
}

.hero-title {
  font-size: 36px;
  margin-bottom: 20px;
  color: #fff;
}

.brand-name {
  font-size: 72px;
  font-weight: bold;
  color: #FD8128;
  margin-bottom: 40px;
  position: relative;
  display: inline-block;
}

.brand-name::after {
  content: '';
  position: absolute;
  width: 100px;
  height: 4px;
  background-color: #FF8000;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
}

.hero-description {
  font-size: 18px;
  margin-bottom: 50px;
  line-height: 1.8;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.cta-button {
  display: inline-block;
  padding: 10px 30px;
  background-color: #FF8000;
  color: white;
  text-decoration: none;
  border-radius: 50px;
  font-weight: bold;
  font-size: 15px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 15px rgba(255, 128, 0, 0.3);
}

.cta-button:hover {
  background-color: #E57200;
}

.applications-section {
  padding: 100px 40px;
  background-color: #100B06;
  text-align: center;
}

.applications-container {
  max-width: 1200px;
  margin: 0 auto;
}

.applications-title {
  font-size: 42px;
  color: #FD8128;
  margin-bottom: 40px;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
}

.applications-title::after {
  content: '';
  position: absolute;
  width: 80px;
  height: 3px;
  background-color: #FD8128;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
}

.applications-description {
  font-size: 20px;
  max-width: 900px;
  margin: 0 auto 60px;
  color: #fff;
  line-height: 1.8;
}

.learn-more-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #FD8128;
  color: white;
  text-decoration: none;
  border-radius: 20px;
  font-weight: bold;
  font-size: 18px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 15px rgba(253, 129, 40, 0.3);
  margin-top: 20px;
}

.learn-more-button:hover {
  background-color: #E57321;
  transform: translateY(-3px);
  box-shadow: 0 6px 20px rgba(253, 129, 40, 0.4);
}


.hero-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(circle at center, rgba(17, 17, 17, 0.5) 0%, rgba(0, 0, 0, 0.8) 100%);
  z-index: 1;
}

.hero-container {
  position: relative;
  z-index: 2;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .hero-section {
    padding: 80px 20px;
  }
  
  .brand-name {
    font-size: 48px;
  }
  
  .hero-title {
    font-size: 28px;
  }
  
  .applications-title {
    font-size: 32px;
  }
  
  .hero-description,
  .applications-description {
    font-size: 16px;
    padding: 0 10px;
  }
}
@media (min-width: 1280px) {
  .xl\:text-9xl {
    font-size: 8rem;
    line-height: 1;
  }
}
